
.side_nav{
    display: inline-flex;
    height: 100vh;
    /* background-color: white; */
    /* background-color: black; */
    padding: .2rem .8rem;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 0 1rem;
    position: fixed;
    left: 0;
    /* overflow-y: scroll; */
    z-index: 11;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    
}

.side_nav2{
    display: inline-flex;
    height: 100vh;
    background-color: white;
    padding: .2rem .8rem;
    flex-direction: column;
}

.link_icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;

    margin: 1rem 0;

    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.Open_side_drawer{
    visibility: hidden !important;
    color: rgb(36, 153, 239);
}

.link2{
    text-decoration: none;
    color: black;
    padding-right: 1rem;
}

.link2 img{
    margin-right: 1rem;
}



@media screen and (max-width : 900px){
    .Open_side_drawer{
        visibility: visible !important;
    }

    .side_nav{
        display: none !important;
        box-shadow: rgb(0, 0, 0) 0px 8px 24px !important;
    }
}