.table_container{
    
}
.lang_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}
.lang_header{
    display: flex;
    align-items: center;

}

.lang_header img{
    width: 50px;
    margin-right: 1rem;
}

.Accordion_container{
    /* box-shadow: none !important; */
    width: 70% !important;
}

.table_body{
    /* box-shadow: none !important; */
    margin-top: .5rem;
    box-sizing: border-box !important;
    margin-bottom: 5rem !important;

}

.diff{
    padding: .2rem .5rem;
    border-radius: 20px;
}

.filter_head{
    background-color: transparent !important;
}

.filter_icon{
    width: 30px;
}

.tag_container{
    display: flex;
    flex-wrap: wrap;
}

.tag{
    padding: .2rem .5rem;
    border-radius: 20px;
    background-color: rgba(231, 231, 231, 0.459);
    margin: .5rem;
    cursor: pointer;
}

.accordion_footer{
    display: flex;
    justify-content: flex-end;
}

.test_case{
    /* box-shadow: none !important; */
    border: none;
    outline: none;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    /* background-color: #f0f2f5; */
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 8.5px 14px !important;
    /* background-color: white !important; */
    border: none !important;
    outline: none !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list{
    padding: 0 !important;
}

.css-2m9kme-MuiFormControl-root{
    margin: 0 !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: none !important;
}
.css-2m9kme-MuiFormControl-root{
    width: 100% !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    /* box-shadow: none !important; */
    border: none !important;
    margin-top: .5rem;
}

.selector{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.selector_field{
    width: 49%;
}

.Red{
    color: #f50057;
}

.Empty{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: .5rem;
}

.Empty .video{
    width: 200px;
}

.Action{
    display: inline;
    padding: 0 .5rem !important;

}

.Alert{
    position: absolute;
    top: 0rem;
    /* right: 1rem; */
    animation-name: alert;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.alert_button{
    padding: .5rem;
    cursor: pointer;
}

#drawer_page{
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    width: 0;
    box-sizing: border-box;
    background-color: white;
    transition: all .5s ease;
    z-index: 10;
}



@keyframes alert{
    0%   {top: 0rem}
  100% {top: 4rem}
}

.model_body{
    background-color: #f0f2f5 !important;
    height: 80vh;
    overflow-y: scroll;
}

.MuiDialogTitle-root+.css-ypiqx9-MuiDialogContent-root{
    padding: 0 !important;
}

.css-2zwj5t-MuiPaper-root-MuiDialog-paper{
    margin: .5rem !important;
    width: 100%;
    /* box-shadow: none !important; */
}

.problem_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.problem_body{
    padding: 0 1rem;
}

.test_case_holder{
    display: flex;
    margin: .5rem 0;
    color: black;
    flex-direction: column;
}

.input_output{
    /* background-color: #f0f2f5 !important; */
    padding: .5rem;
    border-radius: 4px;
}


@media screen and (max-width : 800px) {
    .Accordion_container{
        width: 100% !important;
    }
}
@media screen and (max-width : 600px) {
    .selector{
        flex-direction: column;
    }
    .selector_field{
        width: 100%;
    }

    .css-2zwj5t-MuiPaper-root-MuiDialog-paper.MuiDialog-paperScrollBody{
        max-width: none !important;
    }

    .css-2zwj5t-MuiPaper-root-MuiDialog-paper{
        width: 95% !important;
    }
}